@font-face{
  font-family: nfs;
  src: url("../fonts/NFS_by_JLTV.ttf");
}

.firebolt{
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
   font-family: nfs;
   font-size: 4.5vw;
   color: white;
   display: block;
   text-align: center;
   margin: 0.05vw;
   padding: 0.75vw;
}


/*navigation bar*/
/* Add a black background color to the top navigation */
.topnav {
   z-index: 1;
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
   overflow: hidden; 
  
}

/* Style the links inside the navigation bar */
.topnav a {
   font-family: Raleway;
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 20px 10%;
   text-decoration: none;
   font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0,.55);
    color: white;
}

/* Add an active class to highlight the current page */
.active {
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: center;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}