*{
    padding: 0;
    margin: 0;
} 

 body, html 
 {
  height: 100%;
  margin: 0; 
  font-family: "Lato", sans-serif; 
  color: #777;
 }
         
/* Turn off parallax scrolling for tablets and phones */
 @media only screen and (max-device-width: 1024px) {
.background-images-1, .background-images-2, .background-images-3 {
 background-attachment: scroll;
      }
  }

.firebolt{
   background-image: url("../images/F1-2.jpg");
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
   font-family: nfs;
   font-size: 4.5vw;
   color: white;
   display: block;
   text-align: center;
}

@font-face{
  font-family: nfs;
  src: url("../fonts/NFS_by_JLTV.ttf");
}

@font-face{
    font-family:'marshall';
    src:url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.eot?vpbzp");
    src:url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.eot?vpbzp#iefix") format("embedded-opentype"),url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.woff?vpbzp") format("woff"),url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.ttf?vpbzp") format("truetype"),url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.svg?vpbzp#marshall") format("svg");
    font-weight:normal;
    font-style:normal
}
.background-images-1, .background-images-2, .background-images-3 {
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
}



.border1{
   font-family: Raleway;
   font-size: 4vw;
   color: white;
}

#border{
   font-family: Raleway;
   font-size: 4vw;
   color: white;
}

.fire-image{
   padding: 3% 9%;
}

.firebolt-image{
}

.dealing{
   background-color: rgb(1, 1, 1);
   height: 25vw;
   float: center;
   font-size: 1.7vw;
   padding: 1% 0;
   padding-bottom: 3%;
   text-align: center;
}

#design-hours{
   color: white;
   font-family: 'Oswald', sans-serif;
   width: 13%;
   float: left;
   padding-left: 25%;
   padding-right: 10%;
   text-align: center;
   display: inline;
}

#manufacturing-hours{
   color: white;
   font-family: 'Oswald', sans-serif;
   width: 13%;
   padding-left: 10%;
   float: left;
   text-align: center;
   display: inline;
}

.background-images-1 {
   background-image: url("../images/F1-2.jpg");
   min-height: 46.6vw;
}
.background-images-2 {
   background-image: url("../images/car1.jpg");
   min-height: 60vw;
}
.background-images-3 {
   background-image: url("../images/F1-3.jpg"); 
   min-height: 60vw;
}
.background-images-4 {
   background-image: url("../images/F1-1.jpg");
   min-height: 100vw;
}

.caption {
   position: absolute;
   left: 0;
   top: 50%;
   width: 100%;
   text-align: center;
   color: #000;
}
.caption span.border {
   background-color: #111;
   color: #fff;
   padding: 18px;
   font-size: 25px;
   letter-spacing: 10px;
}


/*sponsors*/
.sponsors{
   height: 64vw;
   float: center;
   padding: 0 0;
   padding-bottom: 3%;
   text-align: center;
   background: linear-gradient(#000000,#232526,#000000);
}


.sponsor_image{
  float: left;
  width: 14.3vw;
  margin : 4vw 4.3vw;
  border :;
  border-color: black;
  background: white;
}

div.sponsor_image img {
  width: 14.3vw;
  height: auto;
}

.heading_sponsor{/*
  margin-top: 8%;
  margin-bottom:  2%; */
  padding-top: 5vw;
  text-align: center;
  color: white;
  font-size: 2.5vw;
}


/*Contact us*/
.contact_us_headings{
  background-color:transparent;
  color: #f7f7f7;
}


.caption-div{
   background-color: rgb(1, 1, 1);
   height: 53vw;
   float: center;
   font-size: 1.7vw;
   padding: 1% 0;
   padding-bottom: 3%;
   text-align: center;
}

.caption2 {
   position: absolute;
   top: 136vw;
   width: 50vw;
   text-align: center;
   color: #000;
   font-family: Raleway;
}

.about_bit{
  color: white;
  padding-top: 4vw;
  padding-left: 6vw;
  width: 40vw;
  font-size: 1.7vw;
  border-left: 1px white solid;
}

.about_bit_header{
  color: white; 
  padding-top: 4vw;
  text-align: center;
}

.caption2 span.contact_us_headings {
   background-color: #111;
   color: #fff;
   padding: 1%;
   font-size: 1.8vw;
   letter-spacing: 10px;
}
.contact_us_links{
  padding: 2.5vw;
  padding-bottom: 5vw;
  font-size: 1.8vw;
  color: #f7f7f7;
}
.caption3{
    display: inline-block;
   position: absolute;
   color: white;
   top: 136vw;
   width: 49vw ;
   text-align: center;
   color: #000;
   font-family: Raleway;
   padding-right: 0;
}

.about {
   position: absolute;
   top: 52vw;
   left: 0;
   width: 100%;
   text-align: center;
   color: #FFF;
   font-family: Raleway;
}

.about_headings {
   background-color: #111;
   color: #fff;
   padding: 1vw;
   font-size: 1.8vw;
   letter-spacing: 10px;
}

.dealing_about_firebolt{
  padding: 3vw;
  font-size: 1.8vw;
  color: #f7f7f7;
}

/*navigation bar*/
/* Add a black background color to the top navigation */
.topnav{
  z-index: 10000;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
   font-family: Raleway;
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 20px 9.6% 20px 9.6%;
   text-decoration: none;
   font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0,.55);
    color: white;
}

/* Add an active class to highlight the current page */
.active {
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: center;
  }
}

.sticky {z
  position: fixed;
  top: 0;
  width: 100%;
}

.footer{
  background-color: rgba(9, 22, 43, 1);
  height: 22vw;
}

.firebolt2{
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
   font-family: nfs;
   font-size: 3vw;
   color: white;
   display: block;
   text-align: left;
   padding-top: 7.5vw;
   padding-left: 3vw;
}

.firebolt3{
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
   font-family: nfs;
   font-size: 3vw;
   color: white;
   display: block;
   text-align: left;
   padding-top: 0;
   padding-left: 4vw;
}

.footer-bottom{/*
  border: 1px black solid;*/
  background-image:url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/images/backgrounds/footer-background-mobile2x.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  color:#fff;
  padding:0 0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.footer-bottom__inner{/*
  border: 1px black solid;*/
  font-size:0;
  margin:0 auto;
  max-width:110vw;
  width:80vw;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.footer-inline{/*
  border: 1px black solid;*/
  display:inline-block;
  font-size:10px;
  padding:0;
  vertical-align:middle
}
.footer-block--third{
  width:26.71vw;
}

.footer-block--left{
  margin-left:-10px;
  text-align:left
}

.footer-block--center{
  text-align:center
}

.footer__copyright{
  font-family: Raleway;
  font-weight:800;
  margin: 2vw 0;
  text-transform:uppercase;
  font-size: 1.5vw;
  line-height:1.29;
}
.footer__copyright_firebolt{
  padding-top: 0.5vw;
  padding-left: 0vw;
  font-family: nfs;
  font-weight:800;
  margin: 2vw 0;
  text-transform:uppercase;
  font-size:2.5vw;
  line-height:0;
}
.footer__copyright_racing{
  padding-left: 1.5vw;
  font-family: nfs;
  font-weight:800;
  margin: 2vw 0;
  text-transform:uppercase;
  font-size:2.5vw;
  line-height:0;
}
.footer__logo{
  width: 90px
}
#footer_firebolt_parent{/*x
  padding: 0vw;*/ /*
  border: 1px black solid;*/
  /*
  background-color: black;*/
}
#footer_firebolt{
  margin-left: 8vw;
  padding-left: 0.5vw;
  z-index: 1000;
  width: 0.5vw;/*
  border: 1px black solid;*//*
  background-color: black;*/
}

